{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aspernatur pariatur rerum repudiandae alias voluptatibus quasi esse unde ea odio commodi sunt molestiae ratione ducimus ipsa excepturi, quidem repellendus minima assumenda corporis deleniti ut ipsam quos? Provident ullam odio, excepturi aspernatur suscipit minus magni, aliquid sit ut accusantium corporis voluptatibus dicta placeat ipsum hic aliquam repudiandae, harum sunt animi. Quidem quo, id voluptatibus hic deserunt necessitatibus temporibus voluptatum nulla adipisci cumque perferendis provident ut quaerat ex quae eos reprehenderit, mollitia soluta aliquid ab minus. Dolores, non. Laboriosam est expedita earum sed! Consequatur veniam sint reiciendis perspiciatis veritatis dignissimos iusto libero.</p>
        </div>
    </div>

</div>
{% endblock %}